@model EntityLayer.Concrete.User
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Kullanıcı Düzenleme</h2>
@using(Html.BeginForm("EditUser", "User", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("Kullanıcı ID")
                    @Html.TextBoxFor(x => x.UserID, new { @class = "form-control" })
                    <br />
                    @Html.Label("Kullanıcı Adı")
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.UserName)
                    <br />
                    @Html.Label("Kullanıcı Soy Adı")
                    @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.UserSurname)
                    <br />
                    @Html.Label("Kullanıcı Maili")
                    @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.UserEmail)
                    <br />
                    @Html.Label("Kullanıcı Parolası")
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Password)
                    <br />
                    <button class="btn btn-info">Kullanıcıyı Güncelle</button>
                </div>
            }

